name: intel-mkl

on:
  push:
    branches:
      - master
  pull_request: {}
  workflow_dispatch:

jobs:
  intel-mkl:
    strategy:
      fail-fast: false
      matrix:
        system: [ubuntu-22.04, windows-latest]
    runs-on: ${{ matrix.system }}
    steps:
      - uses: actions/checkout@v4
      - name: cargo test
        run: cargo test --manifest-path=ndarray-linalg/Cargo.toml --no-default-features --features=intel-mkl-static  --verbose
